<navbar></navbar>
<div class="pb-13 mb-12">ignorar</div>

<form
  [formGroup]="CreateForm"
  (ngSubmit)="onSubmit()"
  class="max-w-xl mx-auto mt-16 p-8 bg-gray-50 rounded-2xl shadow-lg space-y-8"
>
  <h1
    class="text-3xl font-extrabold text-gray-900 flex items-center justify-center gap-2"
  >
    Creador de zonas
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="26"
      height="26"
      viewBox="0 0 26 26"
    >
      <path
        fill="currentColor"
        d="M13 0a6 6 0 0 0-6 6c0 3.314 5.219 11.543 5.219 16h1.562C13.781 17.558 19 9.044 19 6a6 6 0 0 0-6-6m0 3a3 3 0 1 1 0 6a3 3 0 0 1 0-6M6.844 17.281l-.063.032c-1.845.324-3.409.768-4.593 1.375c-.593.303-1.104.662-1.5 1.093c-.397.432-.688.993-.688 1.625c0 .948.628 1.689 1.375 2.219s1.69.935 2.844 1.281C6.524 25.598 9.605 26 13 26s6.476-.402 8.781-1.094c1.153-.346 2.097-.75 2.844-1.281S26 22.354 26 21.406c0-.634-.29-1.224-.688-1.656s-.904-.759-1.5-1.063c-1.19-.607-2.769-1.051-4.625-1.375a1 1 0 1 0-.343 1.97c1.723.3 3.155.725 4.062 1.187c.454.23.773.477.938.656s.156.25.156.281c0 .047-.064.263-.531.594s-1.263.694-2.282 1c-2.037.611-4.955 1-8.187 1s-6.15-.389-8.188-1c-1.018-.306-1.814-.669-2.28-1c-.468-.331-.532-.547-.532-.594c0-.03-.007-.103.156-.281c.164-.178.487-.426.938-.656c.9-.461 2.318-.886 4.031-1.188a1.01 1.01 0 1 0-.281-2"
      />
    </svg>
  </h1>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div>
      <label for="Longitud" class="block text-sm font-semibold text-gray-700">
        Descripcion
      </label>
      <input
        type="text"
        formControlName="description"
        class="mt-2 w-full rounded-lg border border-gray-300 shadow-sm px-3 py-2 text-gray-900 placeholder-gray-400 focus:border-blue-600 focus:ring-2 focus:ring-blue-300 focus:outline-none transition"
        placeholder="Ej: Zona residencial "
      />
    </div>
  </div>

  <div class="mt-4">
    <label class="block font-semibold mb-2">Selecciona dispositivos:</label>

    <button
      type="button"
      class="mb-2 px-4 py-2 text-sm bg-gray-100 text-gray-800 rounded hover:bg-gray-200 transition"
      (click)="showDevices = !showDevices"
    >
      {{ showDevices ? "Ocultar dispositivos" : "Mostrar dispositivos" }}
    </button>

    <div
      *ngIf="showDevices"
      class="max-h-64 overflow-y-auto border rounded-lg p-4 bg-white shadow-sm space-y-2"
    >
      <ul *ngFor="let device of devicesFilter()">
        <li class="flex items-center justify-between">
          <span class="text-gray-700 text-sm">{{ device.description }}</span>
          <input
            type="checkbox"
            [value]="device._id"
            (change)="GetIdFromDevice($event)"
            [checked]="CreateForm.value.devices?.includes(device._id) ?? false"
          />
        </li>
      </ul>
      <span *ngIf="devicesFilter().length === 0" class="text-gray-500 text-sm">
        No hay dispositivos sin zona
      </span>
    </div>
  </div>

  <button
    type="submit"
    class="w-full py-3 bg-gray-900 text-white font-semibold rounded-lg shadow-md hover:bg-white hover:text-black focus:outline-none focus:ring-4 focus:ring-blue-300 transition"
  >
    Crear Zona
  </button>
  <div class="mt-6 text-center">
    <a
      routerLink="/AddzoneAdvice"
      class="inline-block text-gray-900 font-medium hover:underline"
    >
      Añadir zona creada a dispositivo
    </a>
  </div>
</form>
