<navbar></navbar>
<div class="pb-13 mb-12">ignorar</div>

<h3 class="text-2xl font-semibold mb-6 text-gray-800">
  Asignar dispositivo a zona
</h3>

<ul class="max-w-3xl mx-auto space-y-4">
  <li
    *ngFor="let device of devicesFilter"
    class="flex items-center justify-between bg-white shadow p-4 rounded-lg"
  >
    <span class="text-gray-700 font-medium">{{ device.description }}</span>

    <select
      #zoneSelect
      class="border border-gray-300 rounded-md py-1 px-3 focus:outline-none focus:ring-2 focus:ring-gray-400"
    >
      <option *ngFor="let zone of zones" [value]="zone._id">
        {{ zone.name }}
      </option>
    </select>

    <button
      (click)="addDeviceIdToZone(device._id, zoneSelect.value)"
      class="bg-gray-900 text-white px-4 py-1 rounded-md hover:bg-gray-900 transition"
    >
      Asignar
    </button>
  </li>
</ul>
